services:
  spark:
    build: ./spark
    container_name: spark
    ports:
      - "8888:8888" # Jupyter
      - "4040:4040" # Spark UI
    volumes:
      # Task: Also mount the data directory here
      - ./spark/notebooks:/home/jovyan/notebooks
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - PYSPARK_PYTHON=python3

  mage:
    image: mageai/mageai:latest
    container_name: magic
    depends_on:
      - postgres
    command: mage start magic
    environment:
      ENV: dev
      POSTGRES_DB: mage_db
      POSTGRES_USER: mage_admin
      POSTGRES_PASSWORD: mage_pass
      POSTGRES_HOST: postgres
      PG_HOST_PORT: 5432
    ports:
      - 6789:6789
    volumes:
      - .:/home/src/
      # Task: Also mount the data directory here
    restart: on-failure:5

  postgres:
    image: postgres:14
    restart: on-failure
    container_name: postgres
    environment:
      POSTGRES_DB: mage_db
      POSTGRES_USER: mage_admin
      POSTGRES_PASSWORD: mage_pass
    ports:
      - "5432:5432"
  adminer:
    image: adminer:latest
    container_name: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    depends_on:
      - postgres
